@charset "utf-8";
/********************
 sightseeing
********************/
main{
	width: 80vw;
	margin: 0 auto;
	letter-spacing: .5vw;
}
.breadCrumb {
	margin: 28vw 0 7vw;
}
.breadCrumbItem {
	font-size: 2vw;
	display: inline;
}
.googlemap {
	border-radius: 10px;
}
.articleTitle {
	font-size: 5vw;
	margin: 3vw 0;
}
.articleSubTitle {
	padding: .5vw .8vw;
	border-radius: 5px;
}
.slick-prev:before,
.slick-next:before { color: #E5DF65; }
.slick-dots li button:before { color: #E5DF65; }
.slick-dots li.slick-active button:before { color: #E5DF65; }
.sliderFade {
	width: 80%;
	margin: 9vw auto;
}
.sliderFade img {
	width: 80%;
	border-radius: 10px;
}
.tableInfo {
	letter-spacing: .1vw;
	margin: 15vw 0 5vw;
	line-height: 1.7;
}
.tableInfoItem {
	padding: 3vw;
	border: solid 1px #FFF;
}
.tableInfoFitst {
	color: #FFF;
	background: #E5DF65;
}
.tableInfoSecond {
	background: rgba(229, 223, 101, .2);
}
.tableDiscription {
	letter-spacing: .2vw;
	margin: 5vw 0;
}
/********************
  タブレットサイズ
********************/
@media (min-width: 600px){
	main {
		letter-spacing: .4vw;
	}
	.breadCrumb {
		margin: 3vw 0 4vw;
	}
	.breadCrumbItem {
		font-size: 1.5vw;
		letter-spacing: .1vw;
	}
	.articleTitle {
		font-size: 3vw;
		margin: 3vw 0 1.7vw;
	}
	.articleSubTitle {
		font-size: 2vw;
	}
	.sliderFade {
		margin: 6vw auto;
	}
	.tableInfo {
		margin: 10vw 0 2vw;
		font-size: 2vw;
	}
	.tableDiscription {
		font-size: 2vw;
	}
}
/********************
  PCサイズ
********************/
@media (min-width: 1025px){
	main{
		width: 65vw;
		padding-right: 18.5vw;
		letter-spacing: .3vw;
	}
	.breadCrumb {
		margin: 1vw 0 2vw;
	}
	.breadCrumbItem {
		font-size: 1vw;
	}
	.articleTitle {
		font-size: 2vw;
		margin: 1vw 0 -.4vw;
	}
	.articleSubTitle {
		padding: .2vw .4vw;
		font-size: 1.2vw;
	}	
	.sliderFade {
		margin: 3vw auto;
	}
	.tableInfo {
		margin: 5vw 0 0;
		font-size: 1.2vw;
		line-height: 1.8vw;
	}
	.tableInfoItem {
		padding: 1.5vw;
	}
	.tableDiscription {
		font-size: 1vw;
		letter-spacing: .1vw;
		margin: 2vw 0;
	}
}