@charset "utf-8";
/********************
  topAbout
********************/
.topAbout {
	position: relative;
	padding: 18vw 0 20vw;
	line-height: 3;
}
.topAboutTitle {
	padding: 2vw 8vw 16vw;
	font-size: 5vw;
}
.topAboutText {
	width: 84%;
	margin: 0 auto;
}
.topAboutMap {
	position: absolute;
	top: 15vw; right: 14vw;
	width: 25vw;
	opacity: 0;
	fill: none;
	stroke: #FFF;
	stroke-width: 2.5px;
	transform: scale(.7,.7);
	stroke-dashoffset: -3000;
	stroke-dasharray: 3000;
	transition: 3s;
}
.topAboutMapActive {
	stroke-dashoffset: 0;
	transform: scale(1,1);
	opacity: 1;
}
/********************
  topSightseeing
********************/
.topSightseeing {
	padding: 6vw 0 12vw;
	text-align: center;
	position: relative;
}
.topSightseeingTitle {
	position: absolute;
	top: 12vw; left: 24vw;
	transform: rotate(-7deg);
	animation: topSightseeingTitle 1s ease-in-out alternate infinite;
}
.sectionTitleSightseeing {
	margin: 10vw 0 5vw;
}
@keyframes topSightseeingTitle {
	0% {
		transform: rotate(-7deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
.topSightseeingFigureWrapper {
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 5vw;
}
.topSightseeingItem {
	position: relative;
	width: 38vw;
	height: 38vw;
	margin: 2vw;
}
.coverSightseeing {
    border: 3px solid #E5DF65;
	border-radius: 10px;
	background: #FFF;
}
.coverImgSightseeing {
	height: 100%;
}
.cover:hover .coverImgSightseeing {
	height: 100%;
}
.topSightseeingText {
	position: absolute;
	top: 2.3vw; left: 30vw;
	padding: 2vw;
	font-size: 3vw;
	border-radius: 5px;
	writing-mode: vertical-rl;
}
.topSightseeingSubtitle {
	position: absolute;
	top: 2.3vw; left: 2vw;
	padding: 1vw 1vw .8vw;
	font-size: 3vw;
	border-radius: 5px;
}
/********************
  topFood
********************/
.topFood {
	padding: 3vw 0;
}
.topFoodWrapper {
	width: 90%;
	text-align: center;
	margin: 10vw auto;
	padding: 4vw 1vw 4vw;
	background: #FFF;
	border: 2px solid #FFD9FF;
	border-radius: 10px;
}
.topFoodTitle {
}
.topFoodFigureWrapper {
	flex-wrap: wrap;
	justify-content: center;
}
.topFoodItem {
	width: 35vw;
	padding: 0 3vw 5vw;
}
.topFoodFigcaption {
	font-size: 2.5vw;
	letter-spacing: 1px;
	margin: 2vw 0;
	vertical-align: middle;
}
.topFoodTextBg {
	font-size: 2.2vw;
	padding: .4vw .6vw .4vw;
	margin-right: .7vw;
	border-radius: 5px;
}
.topFoodText {
	font-size: 	2.5vw;
	letter-spacing: 0;
}
.coverFood {
	margin: 5% auto;
	border-radius: 15vw;
}
/********************
  タブレットサイズ
********************/
@media (min-width: 600px){
	/********************
	  topAbout
	********************/
	.topAbout {
		padding: 18vw 0 16vw;
	}
	.topAboutTitle {
		padding: 0 9.4vw 10vw;
		font-size: 4vw;
	}
	.topAboutText {
		font-size: 2.5vw;
		width: 80%;
		margin: 0 auto;
	}
	.topAboutMap {
		top: 15vw; right: 23vw;
		width: 20vw;
	}
	/********************
	  topSightseeing
	********************/
	.topSightseeing {
		padding: 6vw 0 4vw;
	}
	.topSightseeingTitle {
		font-size: 2vw;
		top: 12vw; left: 28vw;
	}
	.topSightseeingFigureWrapper {
		margin: 0 auto 6vw;
		width: 80vw;
	}
	.topSightseeingItem {
		width: 20vw;
		height: 20vw;
		margin: 1.5vw;
	}
	.topSightseeingText {
		top: 1.7vw; left: 15.5vw;
		padding: 1vw;
		font-size: 1.7vw;
		letter-spacing: .2vw;
	}
	.topSightseeingSubtitle {
		top: 1.7vw; left: 1.5vw;
		padding: .7vw;
		font-size: 1.5vw;
		letter-spacing: .2vw;
		border-radius: 7px;
	}
	/********************
	  topFood
	********************/
	.topFoodWrapper {
		padding: 2vw 0 3vw;
	}
	.topFoodItem {
		width: 25vw;
		padding: 2vw 1vw 0;
	}
	.topFoodTextBg {
		font-size: 1.7vw;
		padding: .3vw .6vw .2vw;
		margin-right: .5vw;
	}
	.topFoodFigcaption {
		font-size: 2vw;
		letter-spacing: .2vw;
		margin: 1vw 0;
	}
	.topFoodText {
		font-size: 	2vw;
		letter-spacing: .5px;
	}
}

/********************
  PCサイズ
********************/
@media (min-width: 1025px){
	.keyVisualWrapper {
		margin: 0;
	}
	/********************
	  topAbout
	********************/
	.topAbout {
		padding: 8vw 0;
	}
	.topAboutTitle {
		width: 80%;
		padding: 0 7vw 4vw;
		font-size: 3vw;
		line-height: 1.5;
	}
	.topAboutText {
		width: 50%;
		font-size: 1.2vw;
		letter-spacing: .2vw;
		margin-left: 7vw;
		line-height: 3;
	}
	.topAboutMap {
		top: 6vw; right: 9vw;
		width: 18vw;
		
	}
	/********************
	  topSightseeing
	********************/
	.topSightseeing {
		position: relative;	
	}
	.topSightseeingTitle {
		font-size: 1.5vw;
		top: 8vw; left: 26vw;
	}
	.sectionTitleSightseeing {
		margin: 4vw 0 4vw;
	}
	
	.topSightseeingFigureWrapper {
		margin: 0 auto;
		width: 70vw;
	}
	.coverSightseeing {
		border: 3px solid #E5DF65;
		border-radius: 20px;
	}
	.topSightseeingItem {
		width: 17vw;
		height: 17vw;
		margin: 1vw;
	}
	.topSightseeingText {
		top: 1.2vw; left: 14vw;
		padding: .5vw;
		font-size: 1.2vw;
	}
	.topSightseeingSubtitle {
		top: 1.2vw; left: 1.2vw;
		padding: .5vw .5vw .4vw .8vw;
		font-size: 1vw;
		border-radius: 7px;
	}
	/********************
	  topFood
	********************/
	.topFoodWrapper {
		padding: 1vw 1vw 0;
		margin: 1vw auto;
	}
	.topFoodItem {
		width: 19vw;
	}
	.topFoodFigcaption {
		font-size: 1.2vw;
		letter-spacing: .1vw;
	}
	.topFoodTextBg {
		font-size: 0.9vw;
	}
	.topFoodText {
		font-size: 1vw;
	}
}